<!-- footer content -->
<footer>
    <div class="footer-container">
        
        <div class="footer-section footer-branding">
            <!-- <h2>VISYA</h2><br> -->
            <a class="navbar-brand d-flex align-items-center logo" href="index.html">
                <img src="img/logo-removebgnew.png"
                     alt="Visya Food Hub"
                     class="brand-logo">
            </a>
            <P>Delicious food, made with love and served with care.</P>
            <div class="social-links">
                <a href="#" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" aria-label="Youtibe"><i class="fa-brands fa-youtube"></i></a>
            </div>
            <p class="copyright">&copy; 2025 Arid Deb. All rights reserved.</p>
        </div>

        <div class="footer-section">
            <h4>Support</h4>
            <ul>
                <li><a href="#">Account</a></li>
                <li><a href="#">Support Center</a></li>
                <li><a href="#">Feedback</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Our Menu</h4>
            <ul>
                <li><a href="menu.html">Burger</a></li>
                <li><a href="menu.html">Pizza</a></li>
                <li><a href="menu.html">Fries</a></li>
                <li><a href="menu.html">Pasta</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Useful Links</h4>
            <ul>
                <li><a href="#">Payment & Tax</a></li>
                <li><a href="#">Term of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="about.html">About Us</a></li>
            </ul>
        </div>

        <div class="footer-section footer-contact-payment">
            <div class="contact-info">
                <h4>Get in touch</h4>
                <p><strong>Email:</strong> <a href="mailto:visya@gmail.com">visya@gmail.com</a></p>
                <p><strong>Phone:</strong> +91 9600606215</p>
            </div>
            <div class="payment-icons">
               <i class="fa-brands fa-cc-visa fa-lg  payment-icon" style="color:#e65c00;"></i>
               <i class="fa-brands fa-cc-mastercard fa-lg payment-icon" style="color:#e65c00;"></i>
            </div>
        </div>

    </div>
</footer>

